(arch).(vendor):
  hosts:
    (host):
      ansible_user: (user)
      network:
        interfaces:
          (mac):
            name: (ethX)
  vars:
    vendor: (vendor)
(arch):
  children:
    (arch).(vendor):
  vars:
    architecture: (arch)

(os):
  children:
    (arch):
  vars:
    distribution: (os)
